.filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--s-gap);
    align-items: start;
}

.filter__title {
    grid-column: 1 / span 4;
}

.filter__ordering {
    grid-row: 3 / span 1;
}

.filter__invert {
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: start;
}

.filter__reset {
    grid-column: 4 / span 1;
    justify-self: end;
}
