.games {
    display: grid;
    gap: var(--gap);
}

.games__list {
    display: grid;
    gap: var(--small-gap);
    grid-template-columns: repeat(3, 1fr);
}

.games__image {
    display: block;
    max-width: 100%;
}
