@keyframes game-card {
    0% {
        opacity: 0;
        transform: translateY(var(--gap));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.games {
    display: grid;
    gap: var(--gap);
}

.games__row {
    display: grid;
    gap: var(--s-gap);
    grid-template-columns: repeat(4, 1fr);
}

.games__column {
    display: grid;
    gap: var(--s-gap);
    align-content: start;
}

.games__game-card {
    animation: game-card 0.5s;
}
