.games {
    display: grid;
    gap: var(--gap);
}

.games__row {
    display: grid;
    gap: var(--s-gap);
    grid-template-columns: repeat(4, 1fr);
}

.games__column {
    display: grid;
    gap: var(--s-gap);
    align-content: start;
}
