:root {
    --gap: 16px;
    --small-gap: 8px;

    --background-color: whitesmoke;
    --island-color: white;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: var(--background-color);
}

.island {
    background: var(--island-color);
    border-radius: var(--gap);
    padding: var(--gap);
}

ul {
    list-style: none;
}
