:root {
    --gap: 16px;
    --s-gap: 8px;
    --xs-gap: 4px;

    --background-color: rgb(202, 202, 202);
    --island-color: white;
    --favourite-color: red;
    --rating-color: orange;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: var(--background-color);
}

.island {
    background: var(--island-color);
    border-radius: var(--gap);
    padding: var(--gap);
}

a {
    color: inherit;
    text-decoration: none;
}
